@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply flex justify-center items-center
  }

  .animate {
    @apply transition-all duration-100 ease-in
  }
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #34403A;
  color: #D4F5E0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #285238; 
}

body::-webkit-scrollbar-thumb {
  background: #18FF6D; 
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #138A36; 
}